
ion-content {
    background:url(/assets/imgs/background.jpg) center center no-repeat transparent;

  #completo{
    width:15em;
    height:auto;
    margin-top:0;
    text-align: center;
    margin: auto;
    background-color: greenyellow;
    
  }


.crear {
    background-color: $colorsBotonesPrimary;
    width:5.1875em;
    height:2.25em;
    margin-top:2.3125em;
    text-align:center;
    margin: auto;

  }
  .confirmar{
    margin-bottom:2.3125em;
  }
  h2{
    margin-bottom: 2.5em;


  }
  ::placeholder{
    text-align: center;
  }





}

