<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content >
  <div id="completo">


    <h1> Bienvenido a</h1>
    <h2> MEET UP</h2>
<form (submit)="login($event)" *ngIf="!isLogged">
  <ion-item>

    

    <ion-input type="text" name="Nombres" placeholder="Nombres"></ion-input>
  </ion-item>
  <ion-item>

    <ion-input type="text" name="Apellidos" placeholder="Apellidos"></ion-input>
  </ion-item>
  <ion-item>

    <ion-input type="email" name="Email" placeholder="Email"></ion-input>
  </ion-item>

  <ion-item>

    <ion-input type="password" name="Contraseña" placeholder="Contraseña"></ion-input>
  </ion-item>
  <ion-item>

    <ion-input type="password" name="Confirmar Contraseña" placeholder="Confirmar Contraseña"></ion-input>
  </ion-item>
  <button ion-button type="submit" block class="crear" >Crear</button>
  
</form>


<p>si ya eres miembro</p>
<p (click)="gotosignin()">Iniciar Sesion</p>
<p (click)="gotohome()">home</p>

<div *ngIf="isLogged">
  <h2>Bienvenido</h2>
  <p>Nombre: {{user.nombre}}</p>
  <p>Email: {{user.email}}</p>
  <button ion-button block (click)="logOut()">Salir</button>
</div>


</div>

</ion-content>
