
  page-login {

  background-image:url(src/assets/background.jpg);

  #completo{
    width:12.75em;
    height:31.5em;
    background-color:blue;
    text-align: center;
    margin: auto;
    position: relative;
  }

  h1{
   width:172px;
   height: 33px;
    margin-top:20vh ;
    background-color:red;
    

  }


  


  .crear {
    background-color: $colorsBotonesPrimary;
    width:5.1875em;
    height:2.25em;
    text-align:center;
    margin-top: 2.3125em;
    margin: auto;

  }
  h2{


  }





}

