app-state {
    .estado {
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 333px;
        height: 60px;
        background: -moz-linear-gradient(-45deg, #00d2ff 0%, #377ec6 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #00d2ff 0%, #377ec6 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #00d2ff 0%, #377ec6 100%);
        -webkit-border-radius: 9px 9px 9px 9px;
        border-radius: 9px 9px 9px 9px;
        -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
    }
    .camara {
        width: 22px;
        background-color: #fff;
    }
    .form {
        color: black;
    }
    ::placeholder {
        border-bottom: none;
        font-size: 14px;
        height: 57px;
        background-color: transparent;
        color: #fff;
    }
    .item-ios {
        background-color: transparent;
    }
    .item-ios.item-block .item-inner {
        border-bottom: none;
        background-color: transparent;
    }
}