<!-- Generated template for the HeaderComponent component -->
<ion-header>
  <ion-grid>

    <ion-row align-items-star>
      <ion-col>
          <ion-avatar class="avatar">
            <img [src]="img">
          </ion-avatar>
      </ion-col>

      <ion-col>

        <ion-title>
            {{title}}
        </ion-title>


      </ion-col>


      <ion-col>
       <ion-icon name="notifications"></ion-icon>
      </ion-col>


    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>esfrdse</ion-content>
