ion-content{
  background:url(/assets/imgs/background.jpg) center center no-repeat transparent;
  background-size: cover;

}
ion-header{

  background-color: $backgroundColors-post;
  color: $colorsBotonesLight;
  align-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 5rem;
  margin-bottom: 1rem;

}
h1{
  font-weight: lighter;
  margin-top:1rem;
  color:white;
  margin-bottom: 10px;
  margin: 0 auto;
  text-align: center;
}

.avatar img{
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
.icon{
  font-size: 3rem;
  float: right;
  color: rgba(181, 0, 224, 0.6);
}
.title{
  font-size: 4rem;
  margin: 0 auto;
  color: white;
}
