  $colorsBotonesPrimary:    #B500E0;
  $colorsBotonesSecondary:  #377ec6;
  $colorsBotonesDanger:     #f53d3d;
  $colorsBotonesLight:      #f4f4f4;
  $colorsBotonesDark:       #0e191f;
  $colorsBotonesBox:        #111f22;

  $backgroundColors-post:  #111f2e;
  $scrollbackground:       #0e191f;
  $colors-text:              white;
