    <ion-grid>
        {{text}}
        <ion-row>
            <ion-col class = "likes">
                    <ion-icon> 
                            <i class="fas fa-star"></i>
                    </ion-icon>
            </ion-col>
            <ion-col class="comments">
                    <ion-icon> 
                            <i class="fas fa-comments"></i>
                    </ion-icon>
            </ion-col>
            <ion-col class="share">
                    <ion-icon> 
                            <i class="fas fa-share-alt"></i>
                    </ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>