<ion-grid>
        <ion-row>
                <ion-col class="likes">
                        <ion-label>{{qtylikes}}</ion-label>
                        <ion-icon name="star"></ion-icon>
                </ion-col>
                <ion-col class="comments">
                        <ion-label>{{qtycomments}}</ion-label>
                        <ion-icon name="chatboxes"></ion-icon>
                </ion-col>
                <ion-col class="share">
                        <ion-label>{{qtyshare}}</ion-label>
                        <ion-icon name="md-share"></ion-icon>
                </ion-col>
        </ion-row>
</ion-grid>