app-form-post{
    

        #camara{
            width: 45px;
            height: 45px;
            background-color: $colorsBotonesPrimary;
        }
        ion-icon{

            width: 45px;
            height: 45px;
            color:white;
        }





    
}